version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
      time: "13:30"
      timezone: "Asia/Tokyo"
    groups:
      all:
        patterns:
          - "*"
    cooldown:
      default-days: 7
