name: test_scribe

x-common-build: &common-build
  volumes:
    # .venv など環境ごとに分けるべきファイルをバインドマウントしないように個別に指定する
    - type: bind
      source: ../scribe
      target: /app/scribe
    - type: bind
      source: ../tests
      target: /app/tests
    - type: bind
      source: ../pyproject.toml
      target: /app/pyproject.toml
    - type: bind
      source: ../uv.lock
      target: /app/uv.lock
    - type: bind
      source: ../README.md
      target: /app/README.md
    - type: bind
      source: ../LICENSE
      target: /app/LICENSE
  working_dir: /app
  environment:
    # .python-version を無視してシステムの Python を使うようにする
    UV_PYTHON: python
    UV_PYTHON_PREFERENCE: only-system

services:
  python_3_10:
    <<: *common-build
    build:
      context: ..
      dockerfile: ./Docker/Dockerfile
      target: tester
      args:
        BASE_IMAGE: python:3.10-slim-bookworm

  python_3_11:
    <<: *common-build
    build:
      context: ..
      dockerfile: ./Docker/Dockerfile
      target: tester
      args:
        BASE_IMAGE: python:3.11-slim-bookworm

  python_3_12:
    <<: *common-build
    build:
      context: ..
      dockerfile: ./Docker/Dockerfile
      target: tester
      args:
        BASE_IMAGE: python:3.12-slim-bookworm

  python_3_13:
    <<: *common-build
    build:
      context: ..
      dockerfile: ./Docker/Dockerfile
      target: tester
      args:
        BASE_IMAGE: python:3.13-slim-bookworm
